*{margin:0;padding:0;}
*{box-sizing: border-box}
*::after{box-sizing: border-box}
*::before{box-sizing: border-box}
ul,ol{list-style: none}
a{color:inherit;text-decoration: none}

body{
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
}
header{
    width:100%;
    background:#C20C0C;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0 10px;
}
.logo>img{
    width:30px;
    height:30px;
    margin:10px 5px 10px 10px;
}
.logo>p{
    font-size:18px;
    font-weight: bold;
    color:#fff;
}
header>a{
    padding:5px 25px;
    border:1px solid #ffadad;
    border-radius:20px;
    margin:20px;
    color:#ffadad;
    transition:all .45s;
}
header>a:hover{
    background: #fff8f8;
    border: 1px solid #fff8f8;
    color:#C20C0C;
    box-shadow: 0 4px 15px rgba(0,0,0,.2)
}
.page{
    display: flex;
    min-height: 470px;
    min-width: 910px;
    height: calc(100vh - 252px);
    margin: 100px 15%;
    border-radius: 10px;
    box-shadow: 0 4px 20px #f1f1f1;
    overflow: hidden;
}
.page > aside{
    width:300px;
    background:#2b2f47;
    display: flex;
    flex-direction: column;
    color: #d2d6e6;
}
.page > main{
    flex-grow:1;
    padding: 40px;
}
/* aside */
.newSong{
    padding: 10px 15px;
    border-bottom: 1px solid #111524;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor:pointer;
}
.newSong:hover{
    background: #1a1c31;
}
.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-newsong{
    background-image: url(../imgs/icon-newsong.png);
}
.icon-songlist{
    background-image: url(../imgs/icon-songlist.png);
}
.songList-container{
    flex-grow: 1;
    overflow: auto;
    margin-bottom:20px;
}
.songList>li{
    padding: 10px 15px;
    border-bottom:1px solid #202234;
    display: flex;
    align-items:center;
    cursor:pointer;
}
.songList>li.active{
    background: #1a1c31;
}
.songList>li:hover{
    background: #1a1c31;
}
.upload-container{
    width:86%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom:20px;
    cursor: pointer;
    flex-direction: column;
}
.upload-container>#uploadArea>span{
    display: inline-block;
    width: 100%;
    padding:10px;
    display: inline-block;
    border:2px dashed #3b3f62;
    border-radius:6px;
    text-align: center;
    padding:50px 0;
    font-size: 16px;
}
.upload-container>#uploadArea>#uploadState{
    text-align: center;
    padding:10px;
    color:#888;
}
/* main */
.page > main>.main-box{
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #f4f5f9;
    box-shadow: 0 4px 15px #f8f8f8;
}
.page > main>.main-box h1{
    margin:10px;
    border-left: 4px solid #2b3147;
    padding: 0 10px;
    line-height: 1em;
}
.page > main form>.row{
    margin: 20px 10px;
}
.page > main form>.row>input{
    min-width: 300px;
    padding: 8px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 80%;
}
.page > main form>.row>textarea{
    min-width: 300px;
    padding: 8px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 80%;
}

.page > main form>.row>label{
    font-size: 16px;
    margin: 5px;
    min-width: 80px;
    width: 10%;
    display: inline-block;
}
.page > main form>.row>button{
    border: none;
    background: #2b3047;
    padding: 8px 50px;
    border-radius: 2px;
    font-size: 16px;
    border-bottom: 1px solid #25273b;
    cursor: pointer;
    color: #fff;
}
.limit-text{
    font-size: 12px;
    color:#727999;
}
.submitRow {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* loding */
.loading{
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* pointer-events:none; */
}
.loading::before{
    content:'';
    display: block;
    width:100px;
    height:100px;
    background: #e22525;
    position:absolute;
    top:50%;
    left:50%;
    margin:-50px 0 0 -50px;
    border-radius:50%; 
    animation:loading .8s infinite alternate-reverse;
}
@keyframes loading{
    0%{
        border:1px solid #ccc;
        transform:scale(0.05)
    }
    100%{
        border:5px solid #ccc;
        transform:scale(0.6)
    }
}
.loading.active{
    visibility: visible;
}
